:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  color-scheme: light dark;
  color: #000;
  background-color: #fff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 20px;
  font-weight: 600;
  margin: 0 0 1rem;
}

a {
  font-weight: 500;
  color: #000;
  text-decoration: none;
}

button {
  border-radius: 4px;
  border: 1px solid #000;
  padding: 0.75em 1.5em;
  font-size: 16px;
  font-weight: 500;
  font-family: inherit;
  background-color: #fff;
  color: #000;
  cursor: pointer;
}

input,
select,
textarea {
  font-size: 16px;
  padding: 0.75em;
  border: 1px solid #000;
  border-radius: 4px;
  font-family: inherit;
  background: #fff;
  color: #000;
}

.response {
  padding: 1rem;
  border: 1px solid #000;
  border-radius: 4px;
  margin: 1rem 0;
}

.output {
  margin: 1rem 0;
  padding: 1rem;
  border: 1px solid #000;
  border-radius: 4px;
}

.output pre {
  margin: 0;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
  font-size: 16px;
}

.url-display {
  margin: 1rem 0;
  padding: 1rem;
  border: 1px solid #000;
  border-radius: 4px;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #fff;
    background-color: #000;
  }

  a {
    color: #fff;
  }

  button {
    background-color: #fff;
    color: #000;
    border-color: #fff;
  }
  button:hover {
    background-color: #000;
    color: #fff;
  }

  input,
  select,
  textarea {
    background-color: #000;
    color: #fff;
    border-color: #fff;
  }

  .response,
  .output,
  .url-display {
    background-color: #000;
    border-color: #fff;
  }
}
